body {
    margin: 0;
    padding: 0;
    font: 400 .875rem 'Open Sans', sans-serif;
    color: #7b9ee4;
    background: #DCDCDC;
    position: relative;
    height: 100%;
}

.invoice-container {
    padding: 1rem;
}

.invoice-container .invoice-header .invoice-logo {
    margin: 0.8rem 0 0 0;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 700;
    color: #bcd0f7;
}